{
  "CN": "etcd",
  "hosts": [
{% for host in groups['etcd-cluster'] %}
    "{{ hostvars[host].ansible_host }}",
{% endfor %}
    "127.0.0.1"
  ],
  "key": {
    "algo": "rsa",
    "size": 2048
  },
  "names": [
    {
      "C": "CN",
      "ST": "Manila",
      "L": "Makati",
      "O": "etcd",
      "OU": "etcd"
    }
  ]
}
