[Unit]
Description=Redis Exporter

[Service]
User={{ redis_exporter_user }}
Group={{ redis_exporter_user }}
ExecStart=/usr/local/bin/redis_exporter \
  -redis.addr {{ ansible_host }}:6379 \
  -redis.password 123456
Restart=on-failure

[Install]
WantedBy=multi-user.target